body {
  background-color: lightgray;
  /* color: rgb(237, 221, 110); */
}

.navbar {
  background-color: grey;
  color: black;
}

.noteEdit {
  color: black;
  width: 100%;
  background-color: grey;
  padding: 0.5rem;
}

.titleNav {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
}

textarea {
  font-style: oblique;

  font-size: medium;
}

.btnModal {
  background-color: grey;
  color: white;
}

.date {
  margin-top: 1rem;
  color: grey;
}

.empty {
  text-align: center;
  margin-top: 20rem;
}

.lists {
  display: flex;
  grid-template-columns: 25% 25% 25% 25;
}

.list {
  width: 18%;
  margin: 2rem 0 0 1rem;
  background-color: aliceblue;
  border: white;
  /* border-radius: 1rem; */
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 1rem 0 3rem 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.delPreview {
  font-size: medium;
  float: right;
  margin: 1.5rem;
}

.fixed {
  position: fixed;
  top: 80%;
  left: 17%;
  padding: 0.5rem;
  color: red;
}
/* .hr {
    box-shadow: 5px 10px #888;
} */
.modal {
  font-family: arial;
}
